.bg-color 
{
    background-color: deepskyblue;
}

.border-rounded 
{
    border-radius: 10px!important;
}

/*.btn-padding {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type=number] 
{
    -moz-appearance: textfield !important;
}

table
{
    max-width: 1920px!important;
}